* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

img{
    max-width:100%;

}

.page-header {
    background-color: #183e73;
    font-family: "Open Sans";
    font-size: 24px;
    color: white;
    font-weight: bold;
    /* margin-left: 300px;
    margin-right: 300px; */
    padding: 20px;

    /*work on this*/
    border-bottom: #a1dcee solid 3px;
    
}

.header2 {
    background-color: white;
    font-family: "Open Sans";
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size:18px ;
}

.paragraph1{
    margin-left: 15px;
    font-size: 14px;
    font-family: Open Sans;
}

.dogs-together{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   /* margin-left: 300px;
   margin-right: 300px; */
  }


.dognames{
    font-family: Oswald;
    font-style: bold;
    font-size: 15px;
}

.dog{
    max-width: 500px;
    /* width: 33.33%; */
    padding: 5px;
    height: contain;
    display: inline-block;
    

    }

.dog ul{
    font-family: "Open Sans";
    font-size: 10px;
    list-style-type: none;
    display: inline-block;
    padding: 2px; 
}

.dog li{
    font-style: normal;
    background-color:#a1dcee;
    padding: 4px;
    margin: 4px;
    border-radius: 30px;
    display: inline-block;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1 1 33%;
    font-size: 40px;
    font-family: "Oswald";
    font-style: bold; 
}
    
.footer-container a {
    color: white;
    text-decoration: none;
}


.donate {
    background-image: linear-gradient( rgba(123, 101 , 189, .5), rgba(123, 101, 189, .5)), center, cover;
    background-image: url(starter_files/images/donate.jpg);
    height: 400px;
    width: 33%;
    display: flex;
    background-size: cover;
    justify-content: center; 
    align-items: center;   
}

.volunteer{
    background-image: linear-gradient( rgba(123, 101, 189, 0.5), rgba(123, 101, 189, 0.5)), center, cover;
    background-image: url(starter_files/images/volunteer.jpg);
    height: 400px;
    display: flex;
    width: 33%;
    background-size: cover;
    justify-content: center; 
    align-items: center;
}

.our-location{
    background-image: linear-gradient( rgba(123, 101, 189, 0.5), rgba(123, 101, 189, 0.5)), center, cover;
    background-image: url(starter_files/images/location.png);
    height: 400px;
    width: 33%;
    display: flex;
    background-size: cover;
    justify-content: center; 
    align-items: center; 
}